### Python ###
# Byte-compiled / optimized / DLL files
**__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# libdll
dshsaa/libdll/

# sphinx output
build/

# kate swap files
**.kate-swp

# vim swap files
**.swp

# output log files from debugging
**.log
