### Python ###
# Byte-compiled / optimized / DLL files
**__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# libdll
dshsaa/libdll/*
!dshsaa/libdll/.so-dll-files-go-here

# sphinx output
build/

# kate swap files
**.kate-swp

# vim swap files
**.swp

# output log files from debugging
**.log

# core dumps from segmentation faults
**/core
